@page
@model JSopX.RCLxProper.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JSopX.RCLxProper Razor Page RCL Example</title>
</head>
<body>
    <div>
        In order for the RCLxProper RCL to be referenced in projects Razor, Blazor, Asp.Net Core, and even client side Vue, React and Angular projects, all while not inducing Conflict errors with certain reference workflows, we needed to create this RCL in a specific way, one major difference is allowing Views and Razor page support. Otherwise, the RCL will only support server-side logic. If the latter, the RCL has problems handling resources with the same name.

        To read more, goto https://learn.microsoft.com/en-us/aspnet/core/blazor/components/class-libraries?view=aspnetcore-8.0&tabs=visual-studio. There will be updated documentation in near future release.
    </div>
</body>
</html>
